.references{
    padding:40px 20px;
    border-bottom:1px solid var(--line);
    min-height: 100vh;
}
.header{

}

.pill-container1{

}

.pill{
    
}

.collage-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* 4 columnas fluidas */
    grid-template-columns: repeat(4, 1fr);
    /* Las filas se ajustan automáticamente a la altura de las columnas */
    grid-auto-rows: 250px; 
    gap: 20px;
    padding: 20px;
}

.img-container {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Esto evita que la imagen se deforme */
}

/* Definición de tamaños */
.grande { grid-column: span 2; grid-row: span 2; }
.vertical { grid-row: span 2; }
.horizontal { grid-column: span 2; }
.pequeno{grid-column: 4; grid-row: 2;}